.titulo{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -140%);

    font-size: 2.8rem;
    font-family: 'Oswald', sans-serif;
    color: #e10600;
    margin-bottom: 40px;
    letter-spacing: 1px;
    border-bottom: 2px solid #e10600;
    display: inline-block;
    padding-bottom: 5px; 
}

input[type="number"] {
    background-color: #222;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 0.5rem;
    width: 200px;
    text-align: center;
}

.pelea-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas iguales */
    gap: 20px; /* Espacio entre las columnas */
    margin-top: 20px;
}

.pelea,.peleador-A,.peleador-B {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 30px 20px;
    width: auto;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    
    height: auto;
    max-height: fit-content;
}

/* .peleador-A, .peleador-B {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 30px 20px;
    width: auto;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
} */

.submit-btn {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    background-color: #3b0719;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background-color: #2b0213;
}

.resultado-container {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}