<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Predicción UFC{% endblock %}</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <h1>🟥 Sistema de Predicción UFC 🟥</h1>
        <nav>
            <ul>
                <li><a href="{{ request.url_for('index') }}">Inicio</a></li>
                <li><a href="{{ request.url_for('predict_p1') }}">Determinar Ganador (P1)</a></li>
                <li><a href="{{ request.url_for('predict_p2') }}">Simular pelea (P2)</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Sistema de Predicción UFC</p>
    </footer>
</body>
</html>