{% extends 'base.html' %}

{% block title %}Simulación de Pelea - UFC{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ request.url_for('static', path='css/styles_P1.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <h1>Predicción de Peleas UFC</h1>

    <form id="formulario-p1" method="post" class="prediction-form">
        <div class="pelea-container">
            <div class="pelea">
                <label>TIME:</label><br>
                <input type="number" name="TIME" value="0"><br>

                <label>KD_DIFF:</label><br>
                <input type="number" name="KD_DIFF" value="0"><br>
            
                <label>SIG_STR_DIFF:</label><br>
                <input type="number" name="SIG_STR_DIFF" value="0"><br>
            
                <label>TD_DIFF:</label><br>
                <input type="number" name="TD_DIFF" value="0"><br>
            
                <label>SUB_ATT_DIFF:</label><br>
                <input type="number" name="SUB_ATT_DIFF" value="0"><br>

                <label>REV_DIFF:</label><br>
                <input type="number" name="REV_DIFF" value="0"><br>

                <label>CTRL_DIFF:</label><br>
                <input type="number" name="CTRL_DIFF" value="0"><br>
            </div>
            <div class="peleador-A"></div>
                <label>KD_A:</label><br>
                <input type="number" name="KD_A" value="0"><br>
            
                <label>SIG_STR_A:</label><br>
                <input type="number" step="0.01" name="SIG_STR_A" value="0"><br>                
            
                <label>TD_PORC_A:</label><br>
                <input type="number" step="0.01" name="TD_PORC_A" value="0"><br>
            
                <label>SUB_ATT_A:</label><br>
                <input type="number" name="SUB_ATT_A" value="0"><br>              
            
                <label>REV_A:</label><br>
                <input type="number" name="REV_A" value="0"><br>
                
                <label>CTRL_A:</label><br>
                <input type="number" name="CTRL_A" value="0"><br>
            
                <label>TOTAL_STR_A_x:</label><br>
                <input type="number" name="TOTAL_STR_A_x" value="0"><br>
            
                <label>TOTAL_STR_A_y:</label><br>
                <input type="number" name="TOTAL_STR_A_y" value="0"><br>
            
                <label>TD_A_x:</label><br>
                <input type="number" name="TD_A_x" value="0.00"><br>
            
                <label>TD_A_y:</label><br>
                <input type="number" name="TD_A_y" value="0.00"><br>
                          
                <label>STR_HEAD_A_x:</label><br>
                <input type="number" name="STR_HEAD_A_x" value="0"><br>
            
                <label>STR_HEAD_A_y:</label><br>
                <input type="number" name="STR_HEAD_A_y" value="0"><br>             
            
                <label>STR_BODY_A_x:</label><br>
                <input type="number" name="STR_BODY_A_x" value="0"><br>
            
                <label>STR_BODY_A_y:</label><br>
                <input type="number" name="STR_BODY_A_y" value="0"><br>
            
                <label>STR_LEG_A_x:</label><br>
                <input type="number" name="STR_LEG_A_x" value="0"><br>
            
                <label>STR_LEG_A_y:</label><br>
                <input type="number" name="STR_LEG_A_y" value="0"><br>             
            
                <label>STR_DISTANCE_A_x:</label><br>
                <input type="number" name="STR_DISTANCE_A_x" value="0"><br>
            
                <label>STR_DISTANCE_A_y:</label><br>
                <input type="number" name="STR_DISTANCE_A_y" value="0"><br>
                 
                <label>STR_CLINCH_A_x:</label><br>
                <input type="number" name="STR_CLINCH_A_x" value="0"><br>
            
                <label>STR_CLINCH_A_y:</label><br>
                <input type="number" name="STR_CLINCH_A_y" value="0"><br> 
            
                <label>STR_GROUND_A_x:</label><br>
                <input type="number" name="STR_GROUND_A_x" value="0"><br>
            
                <label>STR_GROUND_A_y:</label><br>
                <input type="number" name="STR_GROUND_A_y" value="0"><br>
       
                <label>STRIKER_A:</label><br>
                <input type="number" name="STRIKER_A" value="0"><br>
            
                <label>GRAPPLER_A:</label><br>
                <input type="number" name="GRAPPLER_A" value="0"><br>

                <label>Record_A:</label><br>
                <input type="number" name="Record_A" value="0"><br>   

                <label>Peleas_A:</label><br>
                <input type="number" name="Peleas_A" value="0"><br>  

                <label>Puntos_A:</label><br>
                <input type="number" name="Puntos_A" value="0"><br>   

                <label>Racha_A:</label><br>
                <input type="number" name="Racha_A" value="0"><br>  

                <label>Victorias_KO_A:</label><br>
                <input type="number" name="Victorias_KO_A" value="0"><br>        

                <label>Victorias_Sub_A:</label><br>
                <input type="number" name="Victorias_Sub_A" value="0"><br>    

                <label>Victorias_Decision_A:</label><br>
                <input type="number" name="Victorias_Decision_A" value="0"><br>     

                <label>Derrotas_KO_A:</label><br>
                <input type="number" name="Derrotas_KO_A" value="0"><br>

                <label>Derrotas_Sub_A:</label><br>
                <input type="number" name="Derrotas_Sub_A" value="0"><br>   

                <label>Derrotas_Decision_A:</label><br>
                <input type="number" name="Derrotas_Decision_A" value="0"><br>     
            </div>
            <div class="peleador-B">
                <label>KD_B:</label><br>
                <input type="number" name="KD_B" value="0"><br>
            
                <label>SIG_STR_B:</label><br>
                <input type="number" step="0.01" name="SIG_STR_B" value="0"><br>

                <label>TD_PORC_B:</label><br>
                <input type="number" step="0.01" name="TD_PORC_B" value="0"><br>
                
                <label>SUB_ATT_B:</label><br>
                <input type="number" name="SUB_ATT_B" value="0"><br>
            
                <label>REV_B:</label><br>
                <input type="number" name="REV_B" value="0"><br>
            
                <label>CTRL_B:</label><br>
                <input type="number" name="CTRL_B" value="0"><br>
            
                <label>STR_BODY_B_x:</label><br>
                <input type="number" name="STR_BODY_B_x" value="0"><br>
            
                <label>STR_BODY_B_y:</label><br>
                <input type="number" name="STR_BODY_B_y" value="0"><br>
                
                <label>TOTAL_STR_B_x:</label><br>
                <input type="number" name="TOTAL_STR_B_x" value="0"><br>
            
                <label>TOTAL_STR_B_y:</label><br>
                <input type="number" name="TOTAL_STR_B_y" value="0"><br>
            
                <label>TD_B_x:</label><br>
                <input type="number" name="TD_B_x" value="0.00"><br>
            
                <label>TD_B_y:</label><br>
                <input type="number" name="TD_B_y" value="0.00"><br>
                
                <label>STR_HEAD_B_x:</label><br>
                <input type="number" name="STR_HEAD_B_x" value="0"><br>
            
                <label>STR_HEAD_B_y:</label><br>
                <input type="number" name="STR_HEAD_B_y" value="0"><br>
                
                <label>STR_LEG_B_x:</label><br>
                <input type="number" name="STR_LEG_B_x" value="0"><br>
            
                <label>STR_LEG_B_y:</label><br>
                <input type="number" name="STR_LEG_B_y" value="0"><br>

                <label>STR_DISTANCE_B_x:</label><br>
                <input type="number" name="STR_DISTANCE_B_x" value="0"><br>
            
                <label>STR_DISTANCE_B_y:</label><br>
                <input type="number" name="STR_DISTANCE_B_y" value="0"><br>

                <label>STR_CLINCH_B_x:</label><br>
                <input type="number" name="STR_CLINCH_B_x" value="0"><br>
            
                <label>STR_CLINCH_B_y:</label><br>
                <input type="number" name="STR_CLINCH_B_y" value="0"><br>

                <label>STR_GROUND_B_x:</label><br>
                <input type="number" name="STR_GROUND_B_x" value="0"><br>
            
                <label>STR_GROUND_B_y:</label><br>
                <input type="number" name="STR_GROUND_B_y" value="0"><br>

                <label>STRIKER_B:</label><br>
                <input type="number" name="STRIKER_B" value="0"><br>

                <label>GRAPPLER_B:</label><br>
                <input type="number" name="GRAPPLER_B" value="0"><br>

                <label>Record_B:</label><br>
                <input type="number" name="Record_B" value="0"><br>
                
                <label>Peleas_B:</label><br>
                <input type="number" name="Peleas_B" value="0"><br>
                
                <label>Puntos_B:</label><br>
                <input type="number" name="Puntos_B" value="0"><br>
                
                <label>Racha_B:</label><br>
                <input type="number" name="Racha_B" value="0"><br>
                
                <label>Victorias_KO_B:</label><br>
                <input type="number" name="Victorias_KO_B" value="0"><br>
                
                <label>Victorias_Sub_B:</label><br>
                <input type="number" name="Victorias_Sub_B" value="0"><br>
                
                <label>Victorias_Decision_B:</label><br>
                <input type="number" name="Victorias_Decision_B" value="0"><br>
                
                <label>Derrotas_KO_B:</label><br>
                <input type="number" name="Derrotas_KO_B" value="0"><br>
                
                <label>Derrotas_Sub_B:</label><br>
                <input type="number" name="Derrotas_Sub_B" value="0"><br>
                
                <label>Derrotas_Decision_B:</label><br>
                <input type="number" name="Derrotas_Decision_B" value="0"><br>
            </div>
        </div>
        <div class="submit-btn-container">
            <button type="submit" class="submit-btn">Predecir Ganador</button>
        </div>
    </form>

    <div id="resultado" class="resultado-container"></div>
</div>
<script src="{{ request.url_for('static', path='js/modelo_P1.js') }}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
