<!DOCTYPE html>
<html>
<head>
    <title>Predicción Pelea P1</title>
</head>
<body>
    <h1>Predicción Pelea P1</h1>
    <form action="/predictP1_html" method="post">
        <label>TIME:</label><br>
        <input type="number" name="TIME"><br>

        <label>KD_A:</label><br>
        <input type="number" name="KD_A"><br>

        <label>KD_B:</label><br>
        <input type="number" name="KD_B"><br>

        <label>SIG_STR_A:</label><br>
        <input type="number" step="0.01" name="SIG_STR_A"><br>

        <label>SIG_STR_B:</label><br>
        <input type="number" step="0.01" name="SIG_STR_B"><br>

        <label>TD_PORC_A:</label><br>
        <input type="number" step="0.01" name="TD_PORC_A"><br>

        <label>TD_PORC_B:</label><br>
        <input type="number" step="0.01" name="TD_PORC_B"><br>

        <label>SUB_ATT_A:</label><br>
        <input type="number" name="SUB_ATT_A"><br>

        <label>SUB_ATT_B:</label><br>
        <input type="number" name="SUB_ATT_B"><br>

        <label>REV_A:</label><br>
        <input type="number" name="REV_A"><br>

        <label>REV_B:</label><br>
        <input type="number" name="REV_B"><br>

        <label>CTRL_A:</label><br>
        <input type="number" name="CTRL_A"><br>

        <label>CTRL_B:</label><br>
        <input type="number" name="CTRL_B"><br>

        <label>TOTAL_STR_A_x:</label><br>
        <input type="number" name="TOTAL_STR_A_x"><br>

        <label>TOTAL_STR_A_y:</label><br>
        <input type="number" name="TOTAL_STR_A_y"><br>

        <label>TOTAL_STR_B_x:</label><br>
        <input type="number" name="TOTAL_STR_B_x"><br>

        <label>TOTAL_STR_B_y:</label><br>
        <input type="number" name="TOTAL_STR_B_y"><br>

        <label>TD_A_x:</label><br>
        <input type="number" name="TD_A_x"><br>

        <label>TD_A_y:</label><br>
        <input type="number" name="TD_A_y"><br>

        <label>TD_B_x:</label><br>
        <input type="number" name="TD_B_x"><br>

        <label>TD_B_y:</label><br>
        <input type="number" name="TD_B_y"><br>

        <label>STR_HEAD_A_x:</label><br>
        <input type="number" name="STR_HEAD_A_x"><br>

        <label>STR_HEAD_A_y:</label><br>
        <input type="number" name="STR_HEAD_A_y"><br>

        <label>STR_HEAD_B_x:</label><br>
        <input type="number" name="STR_HEAD_B_x"><br>

        <label>STR_HEAD_B_y:</label><br>
        <input type="number" name="STR_HEAD_B_y"><br>

        <label>STR_BODY_A_x:</label><br>
        <input type="number" name="STR_BODY_A_x"><br>

        <label>STR_BODY_A_y:</label><br>
        <input type="number" name="STR_BODY_A_y"><br>

        <label>STR_BODY_B_x:</label><br>
        <input type="number" name="STR_BODY_B_x"><br>

        <label>STR_BODY_B_y:</label><br>
        <input type="number" name="STR_BODY_B_y"><br>

        <label>STR_LEG_A_x:</label><br>
        <input type="number" name="STR_LEG_A_x"><br>

        <label>STR_LEG_A_y:</label><br>
        <input type="number" name="STR_LEG_A_y"><br>

        <label>STR_LEG_B_x:</label><br>
        <input type="number" name="STR_LEG_B_x"><br>

        <label>STR_LEG_B_y:</label><br>
        <input type="number" name="STR_LEG_B_y"><br>

        <label>STR_DISTANCE_A_x:</label><br>
        <input type="number" name="STR_DISTANCE_A_x"><br>

        <label>STR_DISTANCE_A_y:</label><br>
        <input type="number" name="STR_DISTANCE_A_y"><br>

        <label>STR_DISTANCE_B_x:</label><br>
        <input type="number" name="STR_DISTANCE_B_x"><br>

        <label>STR_DISTANCE_B_y:</label><br>
        <input type="number" name="STR_DISTANCE_B_y"><br>

        <label>STR_CLINCH_A_x:</label><br>
        <input type="number" name="STR_CLINCH_A_x"><br>

        <label>STR_CLINCH_A_y:</label><br>
        <input type="number" name="STR_CLINCH_A_y"><br>

        <label>STR_CLINCH_B_x:</label><br>
        <input type="number" name="STR_CLINCH_B_x"><br>

        <label>STR_CLINCH_B_y:</label><br>
        <input type="number" name="STR_CLINCH_B_y"><br>

        <label>STR_GROUND_A_x:</label><br>
        <input type="number" name="STR_GROUND_A_x"><br>

        <label>STR_GROUND_A_y:</label><br>
        <input type="number" name="STR_GROUND_A_y"><br>

        <label>STR_GROUND_B_x:</label><br>
        <input type="number" name="STR_GROUND_B_x"><br>

        <label>STR_GROUND_B_y:</label><br>
        <input type="number" name="STR_GROUND_B_y"><br>

        <label>KD_DIFF:</label><br>
        <input type="number" name="KD_DIFF"><br>

        <label>SIG_STR_DIFF:</label><br>
        <input type="number" name="SIG_STR_DIFF"><br>

        <label>TD_DIFF:</label><br>
        <input type="number" name="TD_DIFF"><br>

        <label>SUB_ATT_DIFF:</label><br>
        <input type="number" name="SUB_ATT_DIFF"><br>

        <label>REV_DIFF:</label><br>
        <input type="number" name="REV_DIFF"><br>

        <label>CTRL_DIFF:</label><br>
        <input type="number" name="CTRL_DIFF"><br>

        <label>STRIKER_A:</label><br>
        <input type="number" name="STRIKER_A"><br>

        <label>STRIKER_B:</label><br>
        <input type="number" name="STRIKER_B"><br>

        <label>GRAPPLER_A:</label><br>
        <input type="number" name="GRAPPLER_A"><br>

        <label>GRAPPLER_B:</label><br>
        <input type="number" name="GRAPPLER_B"><br>

        <label>Record_A:</label><br>
        <input type="number" name="Record_A"><br>

        <label>Record_B:</label><br>
        <input type="number" name="Record_B"><br>

        <label>Peleas_A:</label><br>
        <input type="number" name="Peleas_A"><br>

        <label>Peleas_B:</label><br>
        <input type="number" name="Peleas_B"><br>

        <label>Puntos_A:</label><br>
        <input type="number" name="Puntos_A"><br>

        <label>Puntos_B:</label><br>
        <input type="number" name="Puntos_B"><br>

        <label>Racha_A:</label><br>
        <input type="number" name="Racha_A"><br>

        <label>Racha_B:</label><br>
        <input type="number" name="Racha_B"><br>

        <label>Victorias_KO_A:</label><br>
        <input type="number" name="Victorias_KO_A"><br>

        <label>Victorias_KO_B:</label><br>
        <input type="number" name="Victorias_KO_B"><br>

        <label>Victorias_Sub_A:</label><br>
        <input type="number" name="Victorias_Sub_A"><br>

        <label>Victorias_Sub_B:</label><br>
        <input type="number" name="Victorias_Sub_B"><br>

        <label>Victorias_Decision_A:</label><br>
        <input type="number" name="Victorias_Decision_A"><br>

        <label>Victorias_Decision_B:</label><br>
        <input type="number" name="Victorias_Decision_B"><br>

        <label>Derrotas_KO_A:</label><br>
        <input type="number" name="Derrotas_KO_A"><br>

        <label>Derrotas_KO_B:</label><br>
        <input type="number" name="Derrotas_KO_B"><br>

        <label>Derrotas_Sub_A:</label><br>
        <input type="number" name="Derrotas_Sub_A"><br>

        <label>Derrotas_Sub_B:</label><br>
        <input type="number" name="Derrotas_Sub_B"><br>

        <label>Derrotas_Decision_A:</label><br>
        <input type="number" name="Derrotas_Decision_A"><br>

        <label>Derrotas_Decision_B:</label><br>
        <input type="number" name="Derrotas_Decision_B"><br>

        <input type="submit" value="Predecir">
    </form>
</body>
</html>