<!DOCTYPE html>
<html>
<head>
    <title>Predicción Pelea P2</title>
</head>
<body>
    <h1>Predicción Pelea P2</h1>
    <form action="/predictP2_html" method="post">
        <h1>Predicción de Pelea</h1>
        <label for="Peleador_A">Peleador A:</label>
        <input type="text" id="Peleador_A" name="Peleador_A" value="{{Peleador_A}}" required>
        
        <label for="Peleador_B">Peleador B:</label>
        <input type="text" id="Peleador_B" name="Peleador_B" value="{{Peleador_B}}" required>
    
        <button type="submit">Predecir</button>
    </form>
</body>
</html>