<!DOCTYPE html>
<html>
<head>
    <title>Predicción Pelea P1</title>
</head>
<body>
    <h1>Predicción Pelea P1</h1>
    <form action="/predictP1_html" method="post">
        <label>TIME:</label><br>
        <input type="number" name="TIME"><br>

        <label>KD_A:</label><br>
        <input type="number" name="KD_A"><br>

        <label>KD_B:</label><br>
        <input type="number" name="KD_B"><br>

        <!-- Agrega aquí el resto de los campos de PeleaP1 -->

        <input type="submit" value="Predecir">
    </form>
</body>
</html>
